@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Pinyon+Script&family=Sawarabi+Mincho&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Sawarabi Mincho';
}

p{
    font-family: 'Be Vietnam Pro';
}

.home{
    width: 100%;
    height: 100vh;
    background-color: #f1ebe3;
    color: #f45999;
}

#p-1{
    display: flex;
}

.logo{
    color: #f45999;
    border: 0.12em solid currentColor;
    border-radius: 50%;
    width: 3em;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Pinyon Script';
    margin: 30px 0 0 30px;
}

.logo h1{
    font-weight: lighter;
    font-size: 2.5em;
}


.l2{
    margin: 23px 6px 0 0;
    margin-left: -12px;
}

.l1{
    margin: 0 0 10px 2px;
}


#p-1 img{
    width: 40vw;
    height: 60vh;
    object-fit: cover;
    border-radius: 50px;
    margin: 10vh 5vw;
    border: 2px solid #f45999;
}

#p1right{
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#p1right h1{
    font-size: 9vw;
    text-align: center;
    font-family: 'Pinyon Script';
}

#p1right h3{
    letter-spacing: 5px;
    margin-bottom: 10vw;
}

#p1right p{
    border: 2px solid #f45999;
    border-radius: 50%;
    padding: 20px;
}

#p-2{
    box-shadow: 0 2px 3px 0.1px black;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 60% 20% 20%;
}

#p2item-3 {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
}

#p2item-2 {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
}

#p2item-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

#p2item-4 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

#p2item-1{
    width: 400px;
    height: auto;
    border-radius: 50px;
    border: 2px solid #f45999;
    margin-left: 63%;
    margin-top: 10%;
    object-fit: cover;
}

#p2item-2{
    width: 330px;
    height: auto;
    border-radius: 110px;
    border: 2px solid #f45999;
    object-fit: cover;
    margin-top: 10%;
    margin-left: 10%;
}

#p2item-3{
    width: 70%;
    text-transform: uppercase;
    text-align: justify;
    margin-left: 10%;
}

#p2item-3 h1{
    font-size: 55px;
    font-weight: lighter;
    margin-bottom: 30px;
}

#p2item-3 p{
    font-size: 24px;
    font-weight: normal;
}

#p2item-4{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    border: 2px solid #f45999;
    font-size: 30px;
    margin: 40px 100px;
}

#p-3{
    width: 100%;
    background-color: #f45999;
    color: white;
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: 20vh auto;
}

#p-3 h1{
    grid-column: 1/4;
    text-align: center;
    font-family: 'Pinyon Script';
    font-size: 6vw;
    font-weight: lighter;
    margin-top:75px;
}

#p-3 img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50px;
    border: 1px solid white;
}

.p3part{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding-bottom: 30vh;
    gap: 20px;
}

#part2{
    padding: 20vh;
}

.p3part h3{
    font-size: 35px;
    font-weight: lighter;
}

.p3part p{
    width: 80%;
    font-weight: lighter;
}

#p-4{
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: 30vh repeat(2, auto);
}

#p-4 h1{
    grid-column: 1/4;
    text-align: center;
    margin: 75px 0;
    font-family: 'Pinyon Script';
    font-size: 7vw;
    font-weight: lighter;
}

.item{
    border: 2px solid #f45999;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 40px;
    margin: 70px;
}

#p4item-1,#p4item-3,#p4item-5{
    border-radius: 50%;
    font-weight: lighter;
}

#p4item-2,#p4item-4,#p4item-6{
    border-radius: 30px;
}

#p-5{
    background-color: #f45999;
    color: white;
    display: grid;
    grid-template-columns: 45% 10% auto;
    grid-template-rows: repeat(3,auto);
}

#p-5>h1{
    grid-row: 1/4;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Pinyon Script';
    font-size: 100px;
    font-weight: lighter;
}

#p-5 img{
    justify-self: center;
    align-self: center;
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center top;
    border-radius: 30px;
    border: 2px solid white;
}

.p5item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    width: 80%;
    margin-left: 30px;
    font-weight: lighter;
}

.p5item h1{
    font-weight: lighter;
    margin-bottom: 10px;
}

.p5item p{
    font-size: 20px;
}

#p-6{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(3,auto);
    padding: 8vh;
}

#p-6 img{
    grid-column: 2/4;
}

#lcc{
    grid-area: 2/1/2/4;
}

#p6logo h1{
    font-size: 2em;
}

#p-6 img{
    width: 35vw;
    height: 30vh;
    object-fit: cover;
    object-position: center -200px;
    border-radius: 70px;
    border: 2px solid #f45999;
    align-self: center;
    justify-self: end;
}

#lcc h1{
    font-size: 90px;
    font-weight: lighter;
    margin-bottom: 30px;
}

#i2{
    font-family: 'Pinyon Script';
    font-size: 40px;
}

.p6i h1{
    font-weight: lighter;
    margin-bottom: 30px;
    font-size: 40px;
}

.p6i p{
    font-size: 25px;
}

#icon i{
    display: inline-block;
    font-size: 25px;
    color: #f45999;
    letter-spacing: 10px;
}