*{
    margin: 0;
    padding: 0;
}

.header{
    background: black;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    height: 5vh;
}

ul{
    display: flex;
}

li{
    list-style: none;
    padding-right: 5vh;
    align-self: center;
}

.user{
    padding-left: 5vh;
}

.user img{
    height: 4vh;
    width: auto;
    border-radius: 50%;
}

.body{
    height: 90vh;
    display: flex;
}

.contener{
    background: #9c9494;
    width: 50vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body_img img{
    width: 50vw;
    height: 90vh;
}

.footer{
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
}
