*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-bg-color:#a7d0ff;
    --sub-bg-color:#2f005e;
    --white-bg-color:#ffffff;
    --black-bg-color:#000000;
    --grey-bg-color:#9299a833;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    position: relative;
    width: 55vw;
    height: 73vh;
    border-radius: 30px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .2);
    overflow: hidden;
    margin: 3vh;
}

.form-login{
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6vh;
}

form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text{
    width: 100%;
}

.form-login h1{
    font-size: 5vh;
    margin: -2vh 0;
}

.form-login p{
    margin: 0 0 15px;
}

.input-box{
    position: relative;
    width: 100%;
    margin: 2.5vh 0;
}

.input-box input{
    width: 100%;
    padding: 15px 40px;
    background: var(--grey-bg-color);
    color: #333;
    border-radius: 14px;
    border: none;
    outline: none;
    font-size: 2vh;
}

.input-box i{
    position: absolute;
    top: 27%;
    left: 3%;
    color: var(--black-bg-color) ;
    font-size: 3vh;
}

.btn{
    width: 100%;
    height: 6vh;
    background-color: var(--sub-bg-color);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    border: none;
    cursor: pointer;
    font-size: 2vw;
    color: var(--white-bg-color);
    font-weight: bold;
}

.container hr{
    margin: 2vh 0 1.5vh 0;
    width: 100%;
    border-radius: 30px;
    color: rgba(40, 53, 79, 0.2);
}

.container p{
    font-size: 2vh;
    margin: 0 0 4vh;
}

.social{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.social a{
    padding: 1.5vh;
    border-radius: 8px;
    border:1px solid rgba(40, 53, 79, 0.2);
    font-size: 3vh;
    color: var(--black-bg-color);
    text-decoration: none;
    margin: 1vh 1vw;
}

.register p{
    margin: 0 0 15px;
}

.toggle-right {
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--white-bg-color);
    background-color: var(--sub-bg-color);
    border-radius: 150px 0 0 150px;
}

.toggle-right  p{
    margin: 2.5vh;
}

.toggle-right h1{
    padding: 0 2vw;
    display: flex;
    text-align: center;
}

.toggle-right  .btn{
    height: 6vh;
    width: 10vw;
    background: transparent;
    border: 2px solid white;
    box-shadow: none;
}