@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Gwendolyn:wght@400;700&family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&family=Pinyon+Script&family=Prata&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    font-family: "Gotu";
    color: white;
    font-weight: bolder;
    text-align: center;
    height: 100vh;
}

#home-1{
    background: linear-gradient(rgba(98, 62, 42, 0.406), rgba(98, 62, 42, 0.406)), url(./Images_&_Logo/Hotel_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 3% 0;
}

#home-1 h3{
    font-family: "Raleway";
    letter-spacing: 8px;
    font-size: 1.7vw;
}

#home-1 div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15vh 0;
}

#home-1 div h1{
    font-family: "Gwendolyn";
    font-size: 15vw;
    font-weight: lighter;
}

#home-1 div h2{
    font-family: "Prata";
    letter-spacing: 10px;
    font-size: 2vw;
}

#home-1 button{
    padding: 2.2vh 3.3vw;
    font-size: 1vw;
    font-weight: bold;
    color: #623e2a;
    letter-spacing: 3px;
    background-color: white;
    border: white;
}

#home-2{
    background-color: #623e2a;
    padding: 3% 0;
    height: 100vh;
}

#home-2 h1{
    font-family: "Libre";
    font-size: 4.5vw;
    font-weight: lighter;
    text-align: center;
    width: 50%;
    letter-spacing: 2px;
}

#home-2 img{
    width: 20vw;
    height: 40vh;
    margin: 10vh 0;
}

#home-2 h2{
    letter-spacing: 5px;
    word-spacing: 5px;
    font-family: "Sans";
}


#home-3{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(98, 62, 42, 0.406), rgba(98, 62, 42, 0.406)), url(./Images_&_Logo/Hotel_\ 3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 25vh 5vw;
}

.card{
    height: 50vh;
    width: 30%;
    border: 2px solid white;
    padding: 8vh 5vw;
    display: grid;
    justify-content: center;
    align-content: space-between;
    font-family: "Sans";
}

.card div{
    height: 40%;
}

.card p{
    height: 60%;
    font-size: 2vw;
    font-weight: lighter;
    text-align: center;
}

.card img{
    width: 15vh;
}

#card-1{
    padding: 12vh 5vw;
}

#card-2{
    padding: 10vh 5vw;
}
