@media screen and (max-width:1194px) {

    .logo,
    .nav-end {
        width: 33vw;
    }

    .card-item img {
        height: 14vh;
        width: 7vw;
    }
}

@media screen and (max-width:1000px) {

    .logo,
    .nav-end {
        width: 40vw;
    }

    .card-item img {
        height: 13vh;
        width: 7vw;
    }
}

@media screen and (max-width:710px) {

    .logo,
    .nav-end {
        width: 45vw;
    }

    .card-item img {
        height: 12vh;
        width: 7vw;
    }
}

@media screen and (max-width:650px) {

    .logo,
    .nav-end {
        width: 50vw;
    }

    .search input {
        width: 20vw;
    }

    .card-item img {
        height: 10vh;
        width: 7vw;
    }
}

@media screen and (max-width:600px) {

    .logo,
    .nav-end {
        width: 60vw;
    }

    .search input {
        width: 18vw;
    }
}

@media screen and (max-width:550px) {

    .nav{
        width: 100vw;
    }

    nav, .nav-end{
        flex-direction: column;
    }

    .nav li a{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .search, .user{
        width: 100vw;
        margin: 2vh 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo img{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .logo a, .nav-end a{
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .user img{
        justify-content: center;
    }

    .nav-end{
        width: 100vw;
    }

    .logo{
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .search input{
        width:50vw;
    }

    .slider img{
        height: 20vh;
        width: 95vw;
    }
}