*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    padding: 20px 40px;
    border-radius: 10px;
    border: 5px solid black;
}