* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 20% auto;
    background-color: black;
    color: rgba(176, 169, 169, 0.821);
}

#top {
    padding: 3vh;
    width: 100%;
    display: flex;
    align-self: flex-start;
    justify-content: center;
    gap: 50px;
}

#top svg{
    height: 5vh;
    width: auto;
}

#buttom{
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-areas: 
    "minus count plus";
}


#count {
    width: 100%;
    grid-area: count;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10vw;
}


#minus {
    grid-area: minus;
    display: flex;
    justify-content: start;
    align-items: center;
}

#plus {
    grid-area: plus;
    display: flex;
    justify-content: end;
    align-items: center;
}

h2 svg {
    padding: 0;
    height: 15vh;
    width: 25vw;
}

h3 svg {
    padding: 30px -5px 0;
    height: 5vh;
    width: 10vw;
    font-weight: bolder;
}

@media screen and (max-width: 500px) {
    #top svg{
        height: 4vh;
        width: auto;
        margin:0 10px;
    }

    #buttom{
    width: 100vw;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto 40%;
    }

    #count {
        grid-area: 1 / 1 / 2 / 3;
        width: 100vw;
        font-size: 25vw;
    }

    #minus {
        grid-area: 2 / 1 / 3 / 2;
        padding: 0 20px 30px 20px;
    }

    #plus {
        grid-area: 2 / 2 / 3 / 4;
        padding: 0 20px 30px 20px;
    }

    h1{
        font-size: 40vw;
    }
}