*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    color: rgba(176, 169, 169, 0.821);
}

#top{
    padding: 2vh;
    width: 100vw;
    height: 10vh;
    display: flex;
    align-self: flex-start;
    justify-content: center;
}

#buttom{
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    font-size: 10vw;
}

h2 svg{
    padding: 0;
    height: 15vh;
    width: 25vw;
}

h3 svg{
    padding:30px -5px 0;
    height: 5vh;
    width: 10vw;
    font-weight: bolder;
}

@media screen and (max-width: 500px) {
    h2 svg{
        position: relative;
        top: 25vh;
    }
    h1{
        position: relative;
        top: -25vh;
        font-size: 30vh;
    }
    #plus{
        position: relative;
        right: 10vw;
    }
    #minus{
        position: relative;
        left: 10vw;
    }
}