*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#top{
    padding: 2vh;
    width: 100vw;
    height: 10vh;
    display: flex;
    align-self: flex-start;
    justify-content: center;
    /* gap: 10px; */
}

#buttom{
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    font-size: 10vw;
}

h2 svg{
    padding: 0;
    height: 15vh;
    width: 25vw;
}

h3 svg{
    padding-top: 10px;
    height: 5vh;
    width: 10vw;
    font-weight: bolder;
}